    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{~/assets/images/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{~/assets/images/favicon.png}" type="image/x-icon">
    <title>Mini Pro</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/fontawesome.css}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/icofont.css}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/themify.css}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/flag-icon.css}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/feather-icon.css}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/bootstrap.css}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/style.css}">
    <link id="color" rel="stylesheet" th:href="@{~/assets/css/color-1.css}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/responsive.css}">