    <script th:src="@{~/assets/js/jquery-3.5.1.min.js}"></script>
    <!-- feather icon js-->
    <script th:src="@{~/assets/js/icons/feather-icon/feather.min.js}"></script>
    <script th:src="@{~/assets/js/icons/feather-icon/feather-icon.js}"></script>
    <!-- Sidebar jquery-->
    <script th:src="@{~/assets/js/sidebar-menu.js}"></script>
    <script th:src="@{~/assets/js/config.js}"></script>
    <!-- Bootstrap js-->
    <script th:src="@{~/assets/js/bootstrap/popper.min.js}"></script>
    <script th:src="@{~/assets/js/bootstrap/bootstrap.min.js}"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script th:src="@{~/assets/js/script.js}"></script>
    <script th:src="@{~/assets/js/theme-customizer/customizer.js}"></script>
    <!-- login js-->