<header class="main-nav">
    <div class="sidebar-user text-center"><img class="img-90 rounded-circle" th:src="@{~/assets/images/dashboard/1.png}"
            alt="">
        <div class="badge-bottom"><span class="badge badge-primary">New</span></div><a href="user-profile.html">
            <h6 class="mt-3 f-14 f-w-600">Emay Walter</h6>
        </a>
        <p class="mb-0 font-roboto">Human Resources Department</p>

    </div>
    <nav>
        <div class="main-navbar">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                    <li class="back-btn">
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                                aria-hidden="true"></i></div>
                    </li>

                    <li class="sidebar-main-title">
                        <div>
                            <h6>Pages </h6>
                        </div>
                    </li>
                    <li><a class="nav-link menu-title link-nav" href="landing-page.html"><i
                                data-feather="navigation-2"></i><span>Landing page</span></a></li>
                    <li><a class="nav-link menu-title link-nav" href="sample-page.html"><i
                                data-feather="file"></i><span>Sample page</span></a></li>
                    <li class="dropdown"><a class="nav-link menu-title link-nav" href="internationalization.html"><i
                                data-feather="aperture"></i><span>Internationalization</span></a></li>
                    <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
                                data-feather="anchor"></i><span>Starter kit
                            </span></a></li>
                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                                data-feather="users"></i><span>Users</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="user-profile.html">Users Profile</a></li>
                            <li><a href="edit-profile.html">Users Edit</a></li>
                            <li><a href="user-cards.html">Users Cards</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>